<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
</head>

<body>
    <div class="form-name">
        <h1>Form - Submission</h1>
    </div>
    <form class="form" action="/submit" method="post">
        <div class="box">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name...">
        </div>
        <div class="box">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email...">
        </div>
        <div class="box">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password...">
        </div>
        <div class="box">
            <input type="submit" name="submit" value="Sign Up">
        </div>
        
    </form>
    
</body>

</html>